"/usr/bin/dbus-launch --exit-with-session gnome-session"
"/usr/bin/gnome-keyring-daemon"
"/usr/libexec/gam_server"
"/usr/libexec/trashapplet"
"/usr/libexec/wnck-applet"
"/usr/libexec/mapping-daemon"
"/usr/libexec/clock-applet"
"["
"/usr/bin/perl \/aps\/sztools\/Diagnostics\/linux\/ck_open_files"
"gnome-pty-helper"
"gnome-session"
"ssh"
"sshd:"
"hald-runner"
"hald-addon-acpi:"
"hald-addon-keyboard:"
"hald-addon-storage:"
"dbus-launch"
"/usr/libexec/gnome-vfs-daemon"
"/usr/libexec/gconfd-2"
"sleep"
"/usr/libexec/gvfsd"
"/usr/libexec/gvfs-gdu-volume-monitor"
"/usr/libexec/pulse/gconf-helper"
"/usr/libexec/gvfsd-trash"
"gnome-volume-control-applet"
"/usr/libexec/gdu-notification-daemon"
"/usr/libexec/gvfs-gphoto2-volume-monitor"
"gnome-power-manager"
"bluetooth-applet"
"/usr/libexec/im-settings-daemon"
"/usr/libexec/polkit-gnome-authentication-agent-1"
"/usr/libexec/gconf-im-settings-daemon"
"/usr/libexec/gvfsd-burn"
"/usr/libexec/gvfsd-metadata"
"/usr/libexec/gvfsd-http"
"awk {\$3=\$4=\$5=\$6=\$9=\$10=\"\"\; print \$0}"
"/usr/libexec/notification-daemon"
"/usr/libexec/gvfsd-cdda"
"klauncher"
"kded4"
"kdeinit4:"


